---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card=tok_2I4F5r82hlXALt&plan=999_monthly&email=friend%40example.com&description=Monthly%20Myflix%20charge%20for%20friend%40example.com
    headers:
      Authorization:
      - Bearer sk_test_7CzlvPICOEzD17yIdCEpQ9wA
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "{\n  \"object\": \"customer\",\n  \"created\": 1375156075,\n  \"id\":
        \"cus_2I4FffyjOSut4g\",\n  \"livemode\": false,\n  \"description\": \"Monthly
        Myflix charge for friend@example.com\",\n  \"email\": \"friend@example.com\",\n
        \ \"delinquent\": false,\n  \"subscription\": {\n    \"plan\": {\n      \"interval\":
        \"month\",\n      \"name\": \"Myflix $9.99 monthly\",\n      \"amount\": 999,\n
        \     \"currency\": \"usd\",\n      \"id\": \"999_monthly\",\n      \"object\":
        \"plan\",\n      \"livemode\": false,\n      \"interval_count\": 1,\n      \"trial_period_days\":
        null\n    },\n    \"object\": \"subscription\",\n    \"start\": 1375156075,\n
        \   \"status\": \"active\",\n    \"customer\": \"cus_2I4FffyjOSut4g\",\n    \"cancel_at_period_end\":
        false,\n    \"current_period_start\": 1375156075,\n    \"current_period_end\":
        1377834475,\n    \"ended_at\": null,\n    \"trial_start\": null,\n    \"trial_end\":
        null,\n    \"canceled_at\": null,\n    \"quantity\": 1\n  },\n  \"discount\":
        null,\n  \"account_balance\": 0,\n  \"cards\": {\n    \"object\": \"list\",\n
        \   \"count\": 1,\n    \"url\": \"/v1/customers/cus_2I4FffyjOSut4g/cards\",\n
        \   \"data\": [\n      {\n        \"id\": \"cc_2I4FOE2aqFpb2K\",\n        \"object\":
        \"card\",\n        \"last4\": \"4242\",\n        \"type\": \"Visa\",\n        \"exp_month\":
        7,\n        \"exp_year\": 2016,\n        \"fingerprint\": \"vqgUq5EjVPslSdVw\",\n
        \       \"customer\": \"cus_2I4FffyjOSut4g\",\n        \"country\": \"US\",\n
        \       \"name\": null,\n        \"address_line1\": null,\n        \"address_line2\":
        null,\n        \"address_city\": null,\n        \"address_state\": null,\n
        \       \"address_zip\": null,\n        \"address_country\": null,\n        \"cvc_check\":
        \"pass\",\n        \"address_line1_check\": null,\n        \"address_zip_check\":
        null\n      }\n    ]\n  },\n  \"default_card\": \"cc_2I4FOE2aqFpb2K\"\n}\n"
  recorded_at: Tue, 30 Jul 2013 03:47:56 GMT
recorded_with: VCR 2.5.0
