---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4000000000000002&card[exp_month]=6&card[exp_year]=2016&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_7CzlvPICOEzD17yIdCEpQ9wA
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_2HyEDYoy4vgE4e",
          "livemode": false,
          "created": 1375133692,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "cc_2HyEnSqTUTMn7f",
            "object": "card",
            "last4": "0002",
            "type": "Visa",
            "exp_month": 6,
            "exp_year": 2016,
            "fingerprint": "yczg7LFe7Q2w3qfV",
            "customer": null,
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null
          }
        }
  recorded_at: Mon, 29 Jul 2013 21:34:52 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=usd&card=tok_2HyEDYoy4vgE4e
    headers:
      Authorization:
      - Bearer sk_test_7CzlvPICOEzD17yIdCEpQ9wA
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined",
            "charge": "ch_2HyEHoTVpXFl51"
          }
        }
  recorded_at: Mon, 29 Jul 2013 21:34:53 GMT
recorded_with: VCR 2.5.0
