%section.admin_payments
  .container
    .row
      .span10.offset1
        %section.payment_history
          %ul.nav.nav-tabs
            %li.active
              %a(href="") Recent Payments
            %li
              = link_to 'Add a New Video', new_admin_video_path
          %table.table
            %thead
              %tr
                %th Name
                %th Email
                %th Amount
                %th Reference ID
            %tbody
              - @payments.each do |p|
                %tr
                  %td=p.user.full_name
                  %td=p.user.email
                  %td=p.amount
                  %td=p.reference_id
