---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=6&card[exp_year]=2016&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_7CzlvPICOEzD17yIdCEpQ9wA
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "{\n  \"id\": \"tok_2I3X3ZjVVcQstP\",\n  \"livemode\": false,\n  \"created\":
        1375153445,\n  \"used\": false,\n  \"object\": \"token\",\n  \"type\": \"card\",\n
        \ \"card\": {\n    \"id\": \"cc_2I3XrtzLeY9470\",\n    \"object\": \"card\",\n
        \   \"last4\": \"4242\",\n    \"type\": \"Visa\",\n    \"exp_month\": 6,\n
        \   \"exp_year\": 2016,\n    \"fingerprint\": \"vqgUq5EjVPslSdVw\",\n    \"customer\":
        null,\n    \"country\": \"US\",\n    \"name\": null,\n    \"address_line1\":
        null,\n    \"address_line2\": null,\n    \"address_city\": null,\n    \"address_state\":
        null,\n    \"address_zip\": null,\n    \"address_country\": null\n  }\n}\n"
  recorded_at: Tue, 30 Jul 2013 03:04:06 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card=tok_2I3X3ZjVVcQstP&plan=999_monthly&email=testemail%40example.com&description=Test%20charge
    headers:
      Authorization:
      - Bearer sk_test_7CzlvPICOEzD17yIdCEpQ9wA
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "{\n  \"object\": \"customer\",\n  \"created\": 1375153447,\n  \"id\":
        \"cus_2I3Xw51o0aAAot\",\n  \"livemode\": false,\n  \"description\": \"Test
        charge\",\n  \"email\": \"testemail@example.com\",\n  \"delinquent\": false,\n
        \ \"subscription\": {\n    \"plan\": {\n      \"interval\": \"month\",\n      \"name\":
        \"Myflix $9.99 monthly\",\n      \"amount\": 999,\n      \"currency\": \"usd\",\n
        \     \"id\": \"999_monthly\",\n      \"object\": \"plan\",\n      \"livemode\":
        false,\n      \"interval_count\": 1,\n      \"trial_period_days\": null\n
        \   },\n    \"object\": \"subscription\",\n    \"start\": 1375153447,\n    \"status\":
        \"active\",\n    \"customer\": \"cus_2I3Xw51o0aAAot\",\n    \"cancel_at_period_end\":
        false,\n    \"current_period_start\": 1375153447,\n    \"current_period_end\":
        1377831847,\n    \"ended_at\": null,\n    \"trial_start\": null,\n    \"trial_end\":
        null,\n    \"canceled_at\": null,\n    \"quantity\": 1\n  },\n  \"discount\":
        null,\n  \"account_balance\": 0,\n  \"cards\": {\n    \"object\": \"list\",\n
        \   \"count\": 1,\n    \"url\": \"/v1/customers/cus_2I3Xw51o0aAAot/cards\",\n
        \   \"data\": [\n      {\n        \"id\": \"cc_2I3XrtzLeY9470\",\n        \"object\":
        \"card\",\n        \"last4\": \"4242\",\n        \"type\": \"Visa\",\n        \"exp_month\":
        6,\n        \"exp_year\": 2016,\n        \"fingerprint\": \"vqgUq5EjVPslSdVw\",\n
        \       \"customer\": \"cus_2I3Xw51o0aAAot\",\n        \"country\": \"US\",\n
        \       \"name\": null,\n        \"address_line1\": null,\n        \"address_line2\":
        null,\n        \"address_city\": null,\n        \"address_state\": null,\n
        \       \"address_zip\": null,\n        \"address_country\": null,\n        \"cvc_check\":
        \"pass\",\n        \"address_line1_check\": null,\n        \"address_zip_check\":
        null\n      }\n    ]\n  },\n  \"default_card\": \"cc_2I3XrtzLeY9470\"\n}\n"
  recorded_at: Tue, 30 Jul 2013 03:04:12 GMT
recorded_with: VCR 2.5.0
